@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Pacifico&display=swap');

/* -------------------------- */
/* Made by _________________ */
/* -------------------------- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
}

body,
div,
a,
p,
h1,
h2,
h3,
h6 {
    font-family: 'Nunito Sans', sans-serif;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ccc;
    border: 1px solid gray;
    padding: 2px 4px;
    border-radius: 3px;
}

/*.......Header........*/
/*.....................*/

.header {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}

nav {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.nav-links {
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    color: rgb(32, 32, 32);
    transition: color 0.2s ease-in;
}

.nav-links:hover,
.nav-links:active {
    color: #fe8e5e;
}

.demo {
    text-decoration: none;
    margin-top: 12px;
    font-size: 30px;
}

.active {
    color: #fe8e5e;
}

/* Responsive Styles */
@media (min-width: 600px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.social-media {
    transition: scale 0.2s ease-in;
}

.social-media:hover,
.social-media:active {
    scale: 1.25;
}

/*........Main Content .......*/
/*....................................*/

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}

.about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

.paragraph {
    text-align: justify;
}

.features > .feature > p {
    text-align: justify;
}

.features > .feature > img {
    max-width: 100px;
    aspect-ratio: 1/1;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.cta-section {
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 24px;
}

.btn-reach-out {
    text-decoration: none;
    background-color: #ccc;
    display: block;
    padding: 10px 20px;
    font-family: 'Nunito Sans';
    font-weight: 700;
    margin: 10px;
    border-radius: 30px;
}

/* Responsive Styles */
@media (min-width: 600px) {
    .main-content {
        flex-direction: row;
    }

    .about-us {
        display: flex;
        gap: 20px;
        max-width: 50%;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.main-content-founder {
    display: flex;
    flex-direction: column;
}

.summary {
    text-align: justify;
    margin: 20px 0;
}

.summary > h2,
p {
    margin: 5px 0;
}

.founders {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.founder {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.founder > img {
    max-width: 150px;
}

@media (min-width: 600px) {
    .main-content-founder {
        flex-direction: row;
        width: 100%;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .summary {
        max-width: 30%;
    }

    .founders {
        max-width: 30%;
    }

    .founder > img {
        max-width: 150px;
    }
}


.main-content-news {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.news-item {
    max-width: 100%;
    text-align: justify;
    margin: 20px 0;
}

.news-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.news-item > img {
    max-width: 300px;
}

.news-item > div > h2 {
    text-align: left;
}

.news-date {
    color: #6b6b6b;
}

@media (min-width: 600px) {
    .news-item {
        flex-direction: row;
        gap: 20px;
    }

    .news-item > div {
        max-width: 40%;
    }
}

.main-content-accessibility {
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
    text-align: left;
}

/*........Main Content _ design .......*/
.site-map-image {
    max-width: 100%;
}

.main-content-design {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content-design > section > h2 {
    text-align: left;
    margin: 10px 0px;
}

.main-content-design > section p {
    text-align: justify;
    margin: 10px 0px;
}

@media (min-width: 600px) {
    .section-with-images {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .section-with-images > figure {
        max-width: 50%;
    }
}

.main-content-legal-security {
    text-align: left;
    margin: 20px 0px;
}

.main-content-testing {
    text-align: left;
    margin: 20px 0px;
}

.main-content-testing > section {
    margin: 5px 0px;
}


.main-content-contact {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.main-content-contact section {
    margin-bottom: 40px;
}

.main-content-contact h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.main-content-contact .contact-details {
    margin-bottom: 20px;
}

.main-content-contact .address,
.main-content-contact .phone,
.main-content-contact .email {
    margin-bottom: 15px;
}

.main-content-contact .address h3,
.main-content-contact .phone h3,
.main-content-contact .email h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.main-content-contact .form-group {
    margin-bottom: 20px;
}

.main-content-contact label {
    display: block;
    font-weight: bold;
}

.main-content-contact input[type='email'],
.main-content-contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.main-content-contact button[type='submit'] {
    background-color: #fe8e5e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.main-content-contact button[type='submit']:hover {
    background-color: #ff613b;
}

@media (min-width: 600px) {
    .main-content-contact section {
        max-width: 50%;
    }
}

/*.......... Footer ...........*/
/*.............................*/

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.demo-studio {
    font-size: 32px;
    width: 100%;
    text-align: center;
    margin: 10px;
}

.footer-subtitle {
    font-size: 0.75em;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column; /* Change to stack links vertically */
    gap: 10px; /* Gap between links */
}

.footer-links > a {
    font-size: 1em;
    text-decoration: none;
    color: rgb(41, 40, 43);
}

.footer-links > a:hover {
    color: #fe8e5e;
    background-color: transparent;
}

.footer-links > a.active {
    color: #fe8e5e;
}

.icon {
    align-items: center;
    text-align: center;
}

.icon img {
    margin: 20px 20px 0 0;
    width: 30px;
    height: 30px;
}

.footer-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive Styles */
@media (min-width: 600px) {
    .link {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-links {
        flex-direction: row; /* Change back to horizontal layout on larger screens */
        gap: 20px; /* Adjust gap between links */
        margin: 0; /* Reset margin */
    }

    .icon img {
        margin: 0 20px 0 0;
        width: 30px;
        height: 30px;
    }
}
